* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.contanier {
    border: 5px solid black;
    padding: 15px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date] {
    padding: 15px;
    margin: 5px;
    width: 100%;
    border: none;
}

input[type=radio] {
    margin: 15px;
    margin-right: 0px;
}

input[type=checkbox] {
    margin: 15px 5px 15px 0;
}

.regbtn {
    background-color: lightgreen;
    border: none;
    width: 100%;
    padding: 15px;
    margin: 5px;
}